@model Cliente

<h1>Registro Nuevo Pedido</h1>

<form action="" method="post">
    <div class="form-group">
        <label asp-for="NombreProducto"></label>
        <input asp-for="NombreProducto" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Foto"></label>
        <input asp-for="Foto" type="url" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Celular"></label>
        <input asp-for="Celular" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Lugar"></label>
        <input asp-for="Lugar" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="NombreCliente"></label>
        <input asp-for="NombreCliente" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Categoria"></label>
        <select asp-for="CategoriaId" asp-items="ViewBag.Categoria" type="text" class="form-control"></select>
    </div>


    <button class="btn btn-primary">ENVIAR PEDIDO</button>
</form>